<h1> Past Recipes  </h1>

<button class="btn btn-default"><%= link_to "Add a Recipe", new_recipe_path %>
</button>


<table>
  <thead>
    <tr>
      <th>
        Recipe Name
      </th>
      <th>
        Recipe Type
      </th>
      <th>
        Made By
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>

      </td>
    </tr>
  </tbody>
</table>
